{:deps
 {selmer/selmer {:mvn/version "1.12.13"}
  org.clojure/clojure {:mvn/version "1.10.1"}
  mount/mount {:mvn/version "0.1.16"}
  org.clojure/tools.logging {:mvn/version "0.5.0"}
  metosin/ring-http-response {:mvn/version "0.9.1"}
  conman/conman {:mvn/version "0.8.3"}
  metosin/muuntaja {:mvn/version "0.6.4"}
  org.clojure/tools.cli {:mvn/version "0.4.2"}
  bouncer/bouncer {:mvn/version "1.0.1"}
  clj-time/clj-time {:mvn/version "0.15.2"}
  compojure/compojure {:mvn/version "1.6.1"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  cprop/cprop {:mvn/version "0.1.14"}
  luminus-migrations/luminus-migrations {:mvn/version "0.6.1"}
  org.postgresql/postgresql {:mvn/version "42.2.6"}
  buddy/buddy-core {:mvn/version "1.9.0"}
  buddy/buddy-auth {:mvn/version "2.2.0"}
  buddy/buddy-hashers {:mvn/version "1.7.0"}
  org.webjars/bootstrap {:mvn/version "4.2.1"}
  org.webjars/font-awesome {:mvn/version "5.6.3"}
  org.clojure/data.csv {:mvn/version "0.1.4"}
  ring-webjars/ring-webjars {:mvn/version "0.2.0"}
  luminus-nrepl/luminus-nrepl {:mvn/version "0.1.6"}
  luminus-immutant/luminus-immutant {:mvn/version "0.2.5"}
  ring-middleware-format/ring-middleware-format {:mvn/version "0.7.4"}}
 :paths ["src/clj" "src/cljc" "resources" "target/cljsbuild"]
 :aliases {:dev {:extra-paths ["env/dev/clj" "test/clj" "env/dev/resources"]
                 :extra-deps {prone/prone {:mvn/version "2019-07-08"}
                              ring/ring-mock {:mvn/version "0.4.0"}
                              ring/ring-devel {:mvn/version "1.7.1"}}}
           :test {:extra-paths ["test/clj" "env/dev/clj" "env/dev/resources"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.632"}
                               ring/ring-mock {:mvn/version "0.4.0"}
                               ring/ring-devel {:mvn/version "1.7.1"}
                               prone/prone {:mvn/version "2019-07-08"}}
                  :main-opts   ["-m" "kaocha.runner"]}
           :outdated {:extra-deps {antq/antq {:mvn/version "0.11.2"}}
                      :main-opts ["-m" "antq.core"]}
           :prod {:extra-paths ["env/prod/clj" "env/prod/resources"]}
           :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
                     :main-opts ["-m" "hf.depstar.uberjar" "my-money.jar" "-C" "-m" "my-money.core"]}
           :vulnerabilities {:extra-deps {clj-nvd/clj-nvd {:git/url "https://github.com/miikka/clj-nvd.git"
                                                           :sha "a6fd635e2f9bc61e786d7182fa68f1e19598e325"}}
                             :main-opts ["-m" "clj-nvd.core" "check"]}
           :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.08.06"}}
                  :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}
           :migrate {:main-opts ["-m" "my-money.core" "migrate"]}}}
