{:dev true
 :port 3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000
 :database-url "postgresql://localhost/my_money_dev?user=my_money_dev&password=db_dev_env_password"}
