name: my-money CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Prepare java
        uses: actions/setup-java@v5
        with:
          java-version-file: .java-version
          distribution: temurin
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build

  frontend-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Prepare java
        uses: actions/setup-java@v5
        with:
          java-version-file: .java-version
          distribution: temurin
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm test

  build-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Prepare java
        uses: actions/setup-java@v5
        with:
          java-version-file: .java-version
          distribution: temurin
      - name: Install clojure tools-deps
        uses: DeLaGuardo/setup-clojure@master
        with:
          tools-deps: 1.10.1.561
      - name: Build
        run: clojure -A:uberjar:prod

  backend-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Prepare java
        uses: actions/setup-java@v5
        with:
          java-version-file: .java-version
          distribution: temurin
      - name: Install clojure tools-deps
        uses: DeLaGuardo/setup-clojure@master
        with:
          tools-deps: 1.10.1.561
      - name: Run tests
        run: |
          docker compose up -d
          clojure -A:test --reporter kaocha.report/documentation

  build-docker-image:
    runs-on: ubuntu-latest
    steps:
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3.11.1
        - uses: docker/build-push-action@v6.18.0
          with:
            cache-from: type=gha,scope=my-money
            cache-to: type=gha,mode=max,scope=my-money
            load: true

  deploy:
    needs: [build-frontend, build-backend, frontend-tests, backend-tests, build-docker-image]
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy
